@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* swal css model */
.swal2-container.swal2-center>.swal2-popup {
    font-size: 13px;
    border-radius: 15px;
    background: #151b1ff3;
    color: #fff;
}

/* swal css butoon */
.swal2-styled.swal2-confirm {
    font-size: 15px;
}

/* icom warning in swal */
.swal2-icon.swal2-warning {
    font-size: 10px;
}

.infoApp video {
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.popUp {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    z-index: 5;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
}

.langWrap a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.langWrap p {
    font-size: 15px;
    color: #6b9e45;
    font-weight: bolder;
}

:root {
    --main-color: #6b9e45;
    --border-color: grey;
    font-size: 60.5%;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* desgin scroll in web */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151b1f;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: #6b9e45;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
    border-radius: 50px;
}

body {
    /* background: #e8f7dd50; */
    background: url("/images/9.png");
    padding-left: 30rem;
    /* cursor: url("/images/qw.png"), pointer; */
}

section {
    padding: 9rem 9%;
    min-height: 91vh;
}

.heading {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}


.heading img {
    height: 48px;
}

.headingSkils {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 5rem;
}

.headingSkils img {
    height: 38px;
}


.help {
    text-align: center;
    align-items: center;
    margin-top: -2%;
    margin-bottom: 3%;
    font-size: 12px;
}

.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
    color: rgba(102, 102, 102, 0.793);
}

.titleWebSits {
    font-size: 14px;
    color: #111;
    text-transform: uppercase;
}

.titleWebSits span {
    color: var(--main-color);
    text-transform: uppercase;
}


.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--main-color);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.CVen {
    background: url("/images/amrika.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 0 500px;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 3px;
}

.CVhe {
    background: url("/images/ii.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 0 500px;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 3px;
}


.CVRecom img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1%;
    height: 200px;
    cursor: pointer;
}



.btn:hover {
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #151b1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a {
    display: block;
    font-size: 17px;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 .7rem;
}

header .follow a:hover {
    color: var(--main-color);
}

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active {
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active {
    display: none;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -13%;
}

.home .image {
    flex: 1 1 10rem;
}

.home .image img {
    width: 65%;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content .hi {
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3 {
    font-size: 25px;
    color: #374148;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.home .content .info {
    font-size: 16.5px;
    color: #151b1f;
    padding: .5rem 0;
}

.home .content .text {
    font-size: 14px;
    color: #374148;
    padding: .5rem 0;
}

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row-1 .image {
    flex: 1 1 30rem;
}

.about .row-1 .image img {
    height: auto;
    width: 70%;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #374148;
    padding-bottom: 2rem;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.content {
    margin-top: 2%;
}

.about .row-1 .content p {
    color: #151b1f;
    font-size: 14px;
    padding: .1rem 0;
}

/* .box p {
    color: #666;
    font-size: 1.7rem;
    padding: .5rem 0;
    font-weight: bold;
} */

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;
}

/* .about .row-1 .content .box-container .box span {
    color: #151b1f;
    font-weight: 500;
} */

.box {
    color: #151b1f;
    font-weight: 500;
    font-size: 14px;
}

.about .row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row-2 .skills {
    flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
    padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar {
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span {
    display: block;
    height: 100%;
    background: var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span {
    width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span {
    width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span {
    width: 75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span {
    width: 85%;
}

.about .row-2 .box-container {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row-2 .box-container .box {
    flex: 1 1 15rem;
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.about .row-2 .box-container .box h3 {
    color: var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p {
    color: #666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.skils .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.skils .box-container .box {
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.436);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.skils .box-container .box i {
    height: 5rem;
    width: 5rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
}

.skils .box-container .box h3 {
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.skils .box-container .box p {
    color: #666;
    font-size: 1.7rem;
    padding-top: .5rem;
}


.mySkile {
    font-size: 15px;
    color: #666;
    font-weight: 600;
}


.experience .box-container {
    display: flex;
    flex-wrap: wrap;
}

.experience .box-container .box {
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}


.solderImg {
    display: flex;
    justify-content: space-between;
}

.solderImg img {
    margin-top: -15%;
}

.dipImg {
    display: flex;
    justify-content: end;
}

.HighQImg {
    display: flex;
    justify-content: end;
}


.HighQImg img {
    margin-top: 5%;
}


#zoomB,
#zoomC {
    transition: transform ease-in-out 0.3s;
}

#zoomB:hover,
#zoomC:hover {
    height: 390px;
    transform: scale(1.3);
}



.experience .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color);
}

.experience .box-container .box .content {
    background: rgba(255, 255, 255, 0.436);
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.experience .box-container .box .content span {
    color: #fff;
    font-size: 1.7rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.experience .box-container .box .content h3 {
    font-size: 18px;
    padding: .5rem 0;
    color: #111;
}

.experience .box-container .box .content p {
    font-size: 13px;
    color: rgba(102, 102, 102, 0.793);
}

.portfolio .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box {
    flex: 1 1 25rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid rgba(255, 255, 255, 0.436);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: none;
    border-radius: 2%;
}

.portfolio .box-container .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0.5 1 0rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: 50%;
    font-size: 19px;
}


.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img {
    height: 65%;
    width: 65%;
}

.portfolio .box-container .box h3 {
    position: absolute;
    left: 1rem;
    font-size: 15px;
    color: #333;
    bottom: .5rem;
}


.skilsPortfolio {
    color: rgba(51, 51, 51, 0.64);
    font-size: 12px;
}


.portfolio .box-container .box .icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.portfolio .box-container .box .icons a {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.436);
    border: 2px solid rgba(0, 0, 0, 0.305);
    color: #333;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.portfolio .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #fff;
}

.contact .icons-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.436);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .icons-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: #111;
    font-size: 17px;
    padding: .5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row form {
    flex: 1 1 55rem;
    background: rgba(255, 255, 255, 0.436);
    padding: 0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}


.contact .row .map {
    flex: 1 1 25rem;
    border: 1rem solid rgba(255, 255, 255, 0.436);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea {
    width: 100%;
    border-bottom: .1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 14px;
    padding: 1rem 0;
    margin: 1rem 0;
    background: rgba(255, 255, 255, 0);
}


.contact .row form .box:focus,
.contact .row form textarea:focus {
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder {
    text-transform: capitalize;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn {
    margin-top: 0;
    margin-bottom: 1.5rem;
}


.footer {
    margin-top: 2rem;
    font-size: 14px;
    padding: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(21, 27, 31);
}

.footer span {
    color: var(--main-color);
}


/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    .cursor-1,
    .cursor-2 {
        display: none;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }

    .experience .box-container .box {
        padding-right: 0;
    }

}


/* tabs my work portfolio */

.wrapper {
    max-width: 100%;
}

.tabs {
    display: grid;
    position: relative;
}

[role="tablist"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

[role="tabpanel"] {
    background: var(--bg-selected);
    padding: 2rem;
    min-height: 50vh;
    color: var(--text);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.tabs button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    background: transparent;
    color: var(--bt-text);
    border: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid var(--border-color);
    cursor: pointer;
    /* remove the default margin on buttons in Safari */
    margin: 0;
}

.tabs button[aria-selected="true"] {
    background: var(--bg-selected);
    color: var(--main-color);
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 0;
    outline: 0;
}

.tabs button[aria-selected="false"]:hover {
    font-size: 2.1rem;
}

/* replace the dotted outline for tab users with a semi-transparent background */
.tabs button:focus {
    outline: 0;
    background: var(--bt-focus);
}

.tabs button::-moz-focus-inner {
    border: 0;
    background: var(--bt-focus);
}

/* Media queries */
@media (max-width: 660px) {

    .wrapper {
        margin: 4rem auto;
        padding: 1rem;
    }

    .tabs button {
        border: 0;
        border-radius: 5px 5px 5px 5px;
    }

    .tabs button[aria-selected="true"] {
        border: 2px solid var(--border-color);
    }

    [role="tablist"] {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    [role="tabpanel"] {
        margin-top: 10px;
        border: 2px solid var(--border-color);
    }
}



/* show Date time in heater page */
.showDimeDate {
    padding: 6%;
    display: flex;
    justify-content: flex-end;
}

.showDimeDate p {
    font-size: 15px;
    color: rgba(102, 102, 102, 0.793);
    font-weight: 600;
}

.showDate {
    text-align: center;
}

.hightImage {
    font-size: 30px;
    position: absolute;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.hightImageNotHaveAnimation {
    font-size: 32px;
    position: absolute;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.styleModelDate {
    align-items: center;
    text-align: center;
}



@media(max-width:991px) {

    /* show Date time in heater page */
    .showDimeDate {
        display: flex;
        justify-content: flex-start;
    }

    .showDimeDate p {
        font-size: 14px;
    }

    .content a {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #zoomA {
        /* (A) OPTIONAL DIMENSIONS */
        height: auto;
        width: 100%;

        /* (B) ANIMATE ZOOM */
        /* ease | ease-in | ease-out | linear */
        transition: 0;
    }

    /* (C) ZOOM ON HOVER */
    #zoomA:hover {
        transform: scale(1);
    }


    .portfolio .box-container .box h3 {
        font-size: 14px;
    }

    .home .image {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .home .image img {
        width: 250px;
        height: 250px;
    }

    .dipImg {
        display: flex;
        justify-content: center;
    }

    .HighQImg {
        display: flex;
        justify-content: center;
    }


    .hightImage {
        font-size: 28px;
        position: absolute;
        -webkit-animation: spin 10s linear infinite;
        -moz-animation: spin 10s linear infinite;
        animation: spin 10s linear infinite;
    }

    .hightImageNotHaveAnimation {
        font-size: 30px;
        position: absolute;
    }

}

/* show skils carousel */
.Brands {
    margin-top: 2%;
}


:root {
    --marquee-width: 100%;
    --marquee-height: 15vh;
    --marquee-elements-displayed: 8;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    /* width: var(--marquee-width);
    height: var(--marquee-height);
    background: whitesmoke; */
    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
}



.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    white-space: nowrap;
}

.marquee-content li img {
    width: auto;
    height: 60px;
}


@media screen and (max-width: 768px) {
    .marquee-content li img {
        width: auto;
        height: 50px;
    }


    :root {
        --marquee-width: 100%;
        --marquee-height: 15vh;
        --marquee-elements-displayed: 4;
    }

}